<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--weibo-->
<meta property="og:type" content="webpage" />
<meta property="og:url" content="http://pickcat.sinaapp.com" />
<meta property="og:title" content="抓猫提醒很好用" />
<meta property="og:description" content="这个抓取网页，发送提醒的应用很好用，建议试试" />
<!--qq-->
<meta property="qc:admins" content="26533043133314631611006375" />
<title>抓猫 - 未来的生活方式</title>
<link href="/templates/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/templates/css/global.css" rel="stylesheet">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?891aca0786f0b1f8db73206eed18c05d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<style type="text/css">
.container {
    margin: 0 auto;
    width: 980px;
}
.muted{
	font-weight:normal;
}
hr{
	margin:0 auto 20px auto;
}

.index_img{
	background:url("/templates/img/index.jpg") no-repeat scroll 0 0 transparent;
	height:600px;
}

.login{
	padding:245px 0 0;
	width:400px;
}

.login p{
	margin-left:180px;
	color:#FFF;
}

.login a,.login a:hover,.login a:focus{
	color:#FFFFFF;
	text-decoration:none;
	font-size:25px;
}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
.index_img{
	background:#fff;
	height:220px;
}

.login{
	padding:30px 0 0;
	width:400px;
}
.login p{
	margin-left:180px;
	color:#000;
}
}
 
/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
.index_img{
	background:#fff;
	height:220px;
}

.login{
	padding:30px 0 0;
	width:220px;
}
.login p{
	margin-left:0px;
	color:#000;
}
}

#con {
    height: 200px;
    overflow: hidden;
}
</style>
</head>

<body>
	<div class="container">
		<div class="masthead">
		<span class="pull-right"><wb:like appkey="4qlB7V" type="simple" skin="silver"></wb:like></span>
        <h2 class="muted">抓猫</h2>
      </div>
	</div>
	<hr>
	<div class="container">
		<div class="index_img">
			<div class="login">
				<form method="post" class="form-horizontal form-inline" action="/">
					<div class="control-group">
						<div class="controls"><input type="text" name="email" id="email" class="form-control required" placeholder="邮箱" /></div>
					</div>
					<div class="control-group">
						<div class="controls"><input type="password" name="password" id="password" class="form-control required" placeholder="密码" maxlength="20" /></div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input type="submit" class="btn btn-info btn-block form-submit" name="submit_login" value="登录抓猫"/>
						</div>
					</div>
				</form>
				<p>
					社交账号直接登录&nbsp;
					<a href="/user/weibo_login"><img width="19" src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_24x24.png" title="新浪微博" alt="新浪微博" border="0" /></a>
					<a href="/user/qq_login"><img width="19" src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_1.png" title="QQ" alt="QQ" border="0"/></a>
				</p>
			</div>
		</div>
	</div>
	<div class="container hidden-phone">
	<div class="row-fluid">
		<div class="span6">
			<h2>抓猫干什么？</h2>
			<p>抓猫是一项网络提醒服务，通过预设的关键词抓取指定网页内容，当关键词出现后给用户发送邮件提醒。除了任意网站，抓猫还可以设置天气、电视剧、动画、电影、综艺节目、购物、新闻、微博、小说、快递等多种类型提醒。更多的提醒类型正在增加中。</p>
		</div>
		<div class="span6">
			最新抓取成功
			<div id="con">
				<ul class="media-list">
					<li class="media">
						<a class="pull-left" href="#"><img class="media-object" src="http://tp1.sinaimg.cn/1919879611/50/0/1"></a>
						<div class="media-body">
							<h4 class="media-heading">最新进击的巨人&nbsp;<small>关键词：进击的巨人 20</small></h4>
							<p>提醒：进击的巨人20</p>
						</div>
					</li>
					<li class="media">
						<a class="pull-left" href="#"><img class="media-object" src="http://tp1.sinaimg.cn/1882648833/50/0/1"></a>
						<div class="media-body">
							<h4 class="media-heading">温州公务员考试&nbsp;<small>关键词：温州 公务员 体检</small></h4>
							<p>浙江2013年温州市公务员总成绩及入围体检人员名单</p>
						</div>
					</li>
					<li class="media">
						<a class="pull-left" href="#"><img class="media-object" src="http://tp1.sinaimg.cn/1581905617/50/0/1"></a>
						<div class="media-body">
							<h4 class="media-heading">下雨提醒&nbsp;<small>关键词：杭州 雨</small></h4>
							<p>"city":"杭州","weather":"中雨"</p>
						</div>
					</li>
					<li class="media">
						<a class="pull-left" href="#"><img class="media-object" src="http://instasrc.com/50x50"></a>
						<div class="media-body">
							<h4 class="media-heading">TA的微博&nbsp;<small>关键词：今晚</small></h4>
							<p>今晚没事干，不知道有没有人陪我看电影</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="cl"></div>
		</div>
	</div>
	</div>
	<hr>
<div class="container site-footer" style="padding-top:20px">
<ul class="inline hidden-phone">
<li><a href="http://weibo.com/u/2602861994" target="_blank"><img src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_16x16.png">官方微博</a></li>
<li><a href="/article/app" target="_blank">客户端</a></li>
<li>任意网址</li>
<?php foreach($_channels as $channel){?>
<li><?php echo $channel['name'];?></li>
<?php }?>
</ul>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/templates/js/bootstrap.min.js"></script>
<script src="/templates/js/global.js"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script>
//最新点评

$(function(){
var scrtime;
$("#con").hover(function(){
clearInterval(scrtime);
},function(){
scrtime = setInterval(function(){
var $ul = $("#con ul");
var liHeight = $ul.find("li:last").height();
$ul.animate({marginTop : liHeight+"px"},1000,function(){
$ul.find("li:last").prependTo($ul)
$ul.find("li:first").hide();
$ul.css({marginTop:0});
$ul.find("li:first").fadeIn(1000);
});
},3000);
}).trigger("mouseleave");
});

</script>
<script src="/templates/js/validate.js"></script>
</body>
</html>