<div class="control-group">
	<label class="control-label">选择城市</label>
<div class="controls">
<select class="form-control" onchange="make_channel_args(this.options[this.options.selectedIndex].value,0)">
<option value="">城市</option>
<option value="阿坝">a阿坝</option>
<option value="阿克苏">a阿克苏</option>
<option value="阿拉尔">a阿拉尔</option>
<option value="阿拉善左旗">a阿拉善左旗</option>
<option value="阿勒泰">a阿勒泰</option>
<option value="阿里">a阿里</option>
<option value="阿图什">a阿图什</option>
<option value="安康">a安康</option>
<option value="安庆">a安庆</option>
<option value="安顺">a安顺</option>
<option value="安阳">a安阳</option>
<option value="鞍山">a鞍山</option>
<option value="八达岭">b八达岭</option>
<option value="巴南">b巴南</option>
<option value="巴中">b巴中</option>
<option value="白城">b白城</option>
<option value="白沙">b白沙</option>
<option value="白山">b白山</option>
<option value="白银">b白银</option>
<option value="百色">b百色</option>
<option value="蚌埠">b蚌埠</option>
<option value="包头">b包头</option>
<option value="宝坻">b宝坻</option>
<option value="宝鸡">b宝鸡</option>
<option value="宝山">b宝山</option>
<option value="保定">b保定</option>
<option value="保山">b保山</option>
<option value="保亭">b保亭</option>
<option value="北碚">b北碚</option>
<option value="北辰">b北辰</option>
<option value="北海">b北海</option>
<option value="北京">b北京</option>
<option value="北京城区">b北京城区</option>
<option value="本溪">b本溪</option>
<option value="毕节">b毕节</option>
<option value="璧山">b璧山</option>
<option value="滨州">b滨州</option>
<option value="亳州">b亳州</option>
<option value="博乐">b博乐</option>
<option value="沧州">c沧州</option>
<option value="昌都">c昌都</option>
<option value="昌吉">c昌吉</option>
<option value="昌江">c昌江</option>
<option value="昌平">c昌平</option>
<option value="长寿">c长寿</option>
<option value="长治">c长治</option>
<option value="常德">c常德</option>
<option value="常州">c常州</option>
<option value="巢湖">c巢湖</option>
<option value="朝阳">c朝阳</option>
<option value="潮州">c潮州</option>
<option value="郴州">c郴州</option>
<option value="成都">c成都</option>
<option value="承德">c承德</option>
<option value="城口">c城口</option>
<option value="澄迈">c澄迈</option>
<option value="池州">c池州</option>
<option value="赤峰">c赤峰</option>
<option value="崇明">c崇明</option>
<option value="崇左">c崇左</option>
<option value="滁州">c滁州</option>
<option value="楚雄">c楚雄</option>
<option value="沈阳">c沈阳</option>
<option value="重庆">c重庆</option>
<option value="达州">d达州</option>
<option value="大港">d大港</option>
<option value="大理">d大理</option>
<option value="大连">d大连</option>
<option value="大庆">d大庆</option>
<option value="大同">d大同</option>
<option value="大兴">d大兴</option>
<option value="大兴安岭">d大兴安岭</option>
<option value="大足">d大足</option>
<option value="丹东">d丹东</option>
<option value="儋州">d儋州</option>
<option value="德宏">d德宏</option>
<option value="德阳">d德阳</option>
<option value="德州">d德州</option>
<option value="垫江">d垫江</option>
<option value="定安">d定安</option>
<option value="定西">d定西</option>
<option value="东方">d东方</option>
<option value="东丽">d东丽</option>
<option value="东莞">d东莞</option>
<option value="东营">d东营</option>
<option value="都匀">d都匀</option>
<option value="鄂尔多斯">è鄂尔多斯</option>
<option value="鄂州">è鄂州</option>
<option value="恩施">ē恩施</option>
<option value="防城港">f防城港</option>
<option value="房山">f房山</option>
<option value="丰都">f丰都</option>
<option value="丰台">f丰台</option>
<option value="奉节">f奉节</option>
<option value="奉贤">f奉贤</option>
<option value="佛山">f佛山</option>
<option value="佛爷顶">f佛爷顶</option>
<option value="涪陵">f涪陵</option>
<option value="福州">f福州</option>
<option value="抚顺">f抚顺</option>
<option value="抚州">f抚州</option>
<option value="阜新">f阜新</option>
<option value="阜阳">f阜阳</option>
<option value="甘孜">g甘孜</option>
<option value="赣州">g赣州</option>
<option value="高雄">g高雄</option>
<option value="固原">g固原</option>
<option value="广安">g广安</option>
<option value="广元">g广元</option>
<option value="广州">g广州</option>
<option value="贵港">g贵港</option>
<option value="贵阳">g贵阳</option>
<option value="桂林">g桂林</option>
<option value="果洛">g果洛</option>
<option value="哈尔滨">h哈尔滨</option>
<option value="哈密">h哈密</option>
<option value="海北">h海北</option>
<option value="海淀">h海淀</option>
<option value="海东">h海东</option>
<option value="海口">h海口</option>
<option value="海南">h海南</option>
<option value="海西">h海西</option>
<option value="邯郸">h邯郸</option>
<option value="汉沽">h汉沽</option>
<option value="汉中">h汉中</option>
<option value="杭州">h杭州</option>
<option value="合川">h合川</option>
<option value="合肥">h合肥</option>
<option value="合作">h合作</option>
<option value="和田">h和田</option>
<option value="河池">h河池</option>
<option value="河源">h河源</option>
<option value="菏泽">h菏泽</option>
<option value="贺州">h贺州</option>
<option value="鹤壁">h鹤壁</option>
<option value="鹤岗">h鹤岗</option>
<option value="黑河">h黑河</option>
<option value="衡水">h衡水</option>
<option value="衡阳">h衡阳</option>
<option value="红河">h红河</option>
<option value="呼和浩特">h呼和浩特</option>
<option value="呼伦贝尔">h呼伦贝尔</option>
<option value="湖州">h湖州</option>
<option value="葫芦岛">h葫芦岛</option>
<option value="怀化">h怀化</option>
<option value="怀柔">h怀柔</option>
<option value="淮安">h淮安</option>
<option value="淮北">h淮北</option>
<option value="淮南">h淮南</option>
<option value="黄冈">h黄冈</option>
<option value="黄南">h黄南</option>
<option value="黄山">h黄山</option>
<option value="黄石">h黄石</option>
<option value="惠州">h惠州</option>
<option value="鸡西">j鸡西</option>
<option value="吉安">j吉安</option>
<option value="吉林">j吉林</option>
<option value="吉首">j吉首</option>
<option value="集宁">j集宁</option>
<option value="济南">j济南</option>
<option value="济宁">j济宁</option>
<option value="济源">j济源</option>
<option value="蓟县">j蓟县</option>
<option value="佳木斯">j佳木斯</option>
<option value="嘉定">j嘉定</option>
<option value="嘉兴">j嘉兴</option>
<option value="嘉峪关">j嘉峪关</option>
<option value="江津">j江津</option>
<option value="江门">j江门</option>
<option value="焦作">j焦作</option>
<option value="揭阳">j揭阳</option>
<option value="金昌">j金昌</option>
<option value="金华">j金华</option>
<option value="金山">j金山</option>
<option value="津南">j津南</option>
<option value="锦州">j锦州</option>
<option value="晋城">j晋城</option>
<option value="晋江">j晋江</option>
<option value="晋中">j晋中</option>
<option value="荆门">j荆门</option>
<option value="荆州">j荆州</option>
<option value="景德镇">j景德镇</option>
<option value="景洪">j景洪</option>
<option value="静海">j静海</option>
<option value="九江">j九江</option>
<option value="酒泉">j酒泉</option>
<option value="喀什">k喀什</option>
<option value="开封">k开封</option>
<option value="开县">k开县</option>
<option value="凯里">k凯里</option>
<option value="克拉玛依">k克拉玛依</option>
<option value="库尔勒">k库尔勒</option>
<option value="昆明">k昆明</option>
<option value="拉萨">l拉萨</option>
<option value="来宾">l来宾</option>
<option value="莱芜">l莱芜</option>
<option value="兰州">l兰州</option>
<option value="廊坊">l廊坊</option>
<option value="乐东">l乐东</option>
<option value="丽江">l丽江</option>
<option value="丽水">l丽水</option>
<option value="连云港">l连云港</option>
<option value="凉山">l凉山</option>
<option value="梁平">l梁平</option>
<option value="辽阳">l辽阳</option>
<option value="辽源">l辽源</option>
<option value="聊城">l聊城</option>
<option value="林芝">l林芝</option>
<option value="临沧">l临沧</option>
<option value="临汾">l临汾</option>
<option value="临高">l临高</option>
<option value="临河">l临河</option>
<option value="临夏">l临夏</option>
<option value="临沂">l临沂</option>
<option value="陵水">l陵水</option>
<option value="柳州">l柳州</option>
<option value="六安">l六安</option>
<option value="六盘水">l六盘水</option>
<option value="龙岩">l龙岩</option>
<option value="娄底">l娄底</option>
<option value="泸州">l泸州</option>
<option value="吕梁">l吕梁</option>
<option value="洛阳">l洛阳</option>
<option value="漯河">l漯河</option>
<option value="马鞍山">m马鞍山</option>
<option value="茂名">m茂名</option>
<option value="眉山">m眉山</option>
<option value="梅州">m梅州</option>
<option value="门头沟">m门头沟</option>
<option value="密云">m密云</option>
<option value="密云上甸子">m密云上甸子</option>
<option value="绵阳">m绵阳</option>
<option value="闵行">m闵行</option>
<option value="牡丹江">m牡丹江</option>
<option value="内江">n内江</option>
<option value="那曲">n那曲</option>
<option value="南昌">n南昌</option>
<option value="南充">n南充</option>
<option value="南川">n南川</option>
<option value="南汇">n南汇</option>
<option value="南京">n南京</option>
<option value="南宁">n南宁</option>
<option value="南平">n南平</option>
<option value="南沙岛">n南沙岛</option>
<option value="南通">n南通</option>
<option value="南阳">n南阳</option>
<option value="宁波">n宁波</option>
<option value="宁德">n宁德</option>
<option value="宁河">n宁河</option>
<option value="怒江">n怒江</option>
<option value="攀枝花">p攀枝花</option>
<option value="盘锦">p盘锦</option>
<option value="彭水">p彭水</option>
<option value="平顶山">p平顶山</option>
<option value="平谷">p平谷</option>
<option value="平凉">p平凉</option>
<option value="萍乡">p萍乡</option>
<option value="莆田">p莆田</option>
<option value="濮阳">p濮阳</option>
<option value="浦东">p浦东</option>
<option value="普洱">p普洱</option>
<option value="七台河">q七台河</option>
<option value="齐齐哈尔">q齐齐哈尔</option>
<option value="綦江">q綦江</option>
<option value="潜江">q潜江</option>
<option value="黔江">q黔江</option>
<option value="黔阳">q黔阳</option>
<option value="钦州">q钦州</option>
<option value="秦皇岛">q秦皇岛</option>
<option value="青岛">q青岛</option>
<option value="青浦">q青浦</option>
<option value="清远">q清远</option>
<option value="庆阳">q庆阳</option>
<option value="琼海">q琼海</option>
<option value="琼山">q琼山</option>
<option value="琼中">q琼中</option>
<option value="曲靖">q曲靖</option>
<option value="衢州">q衢州</option>
<option value="泉州">q泉州</option>
<option value="日喀则">r日喀则</option>
<option value="日照">r日照</option>
<option value="荣昌">r荣昌</option>
<option value="三门峡">s三门峡</option>
<option value="三明">s三明</option>
<option value="三亚">s三亚</option>
<option value="沙坪坝">s沙坪坝</option>
<option value="山南">s山南</option>
<option value="汕头">s汕头</option>
<option value="汕尾">s汕尾</option>
<option value="商洛">s商洛</option>
<option value="商丘">s商丘</option>
<option value="上海">s上海</option>
<option value="上饶">s上饶</option>
<option value="韶关">s韶关</option>
<option value="邵阳">s邵阳</option>
<option value="绍兴">s绍兴</option>
<option value="深圳">s深圳</option>
<option value="神农架">s神农架</option>
<option value="十堰">s十堰</option>
<option value="石河子">s石河子</option>
<option value="石家庄">s石家庄</option>
<option value="石景山">s石景山</option>
<option value="石柱">s石柱</option>
<option value="石嘴山">s石嘴山</option>
<option value="双鸭山">s双鸭山</option>
<option value="顺义">s顺义</option>
<option value="朔州">s朔州</option>
<option value="四平">s四平</option>
<option value="松江">s松江</option>
<option value="松原">s松原</option>
<option value="苏州">s苏州</option>
<option value="宿迁">s宿迁</option>
<option value="宿州">s宿州</option>
<option value="绥化">s绥化</option>
<option value="随州">s随州</option>
<option value="遂宁">s遂宁</option>
<option value="塔城">t塔城</option>
<option value="台北县">t台北县</option>
<option value="台中">t台中</option>
<option value="台州">t台州</option>
<option value="太原">t太原</option>
<option value="泰安">t泰安</option>
<option value="泰州">t泰州</option>
<option value="汤河口">t汤河口</option>
<option value="唐山">t唐山</option>
<option value="塘沽">t塘沽</option>
<option value="天津">t天津</option>
<option value="天门">t天门</option>
<option value="天水">t天水</option>
<option value="铁岭">t铁岭</option>
<option value="通化">t通化</option>
<option value="通辽">t通辽</option>
<option value="通州">t通州</option>
<option value="铜川">t铜川</option>
<option value="铜梁">t铜梁</option>
<option value="铜陵">t铜陵</option>
<option value="铜仁">t铜仁</option>
<option value="潼南">t潼南</option>
<option value="吐鲁番">t吐鲁番</option>
<option value="屯昌">t屯昌</option>
<option value="万宁">w万宁</option>
<option value="万盛">w万盛</option>
<option value="万州龙宝">w万州龙宝</option>
<option value="万州天城">w万州天城</option>
<option value="威海">w威海</option>
<option value="潍坊">w潍坊</option>
<option value="渭南">w渭南</option>
<option value="温州">w温州</option>
<option value="文昌">w文昌</option>
<option value="文山">w文山</option>
<option value="乌海">w乌海</option>
<option value="乌兰浩特">w乌兰浩特</option>
<option value="乌鲁木齐">w乌鲁木齐</option>
<option value="巫山">w巫山</option>
<option value="巫溪">w巫溪</option>
<option value="无锡">w无锡</option>
<option value="吴忠">w吴忠</option>
<option value="芜湖">w芜湖</option>
<option value="梧州">w梧州</option>
<option value="五指山">w五指山</option>
<option value="武都">w武都</option>
<option value="武汉">w武汉</option>
<option value="武隆">w武隆</option>
<option value="武清">w武清</option>
<option value="武威">w武威</option>
<option value="西安">x西安</option>
<option value="西宁">x西宁</option>
<option value="西青">x西青</option>
<option value="西沙">x西沙</option>
<option value="锡林浩特">x锡林浩特</option>
<option value="霞云岭">x霞云岭</option>
<option value="厦门">x厦门</option>
<option value="仙桃">x仙桃</option>
<option value="咸宁">x咸宁</option>
<option value="咸阳">x咸阳</option>
<option value="香格里拉">x香格里拉</option>
<option value="湘潭">x湘潭</option>
<option value="襄樊">x襄樊</option>
<option value="孝感">x孝感</option>
<option value="忻州">x忻州</option>
<option value="新乡">x新乡</option>
<option value="新余">x新余</option>
<option value="信阳">x信阳</option>
<option value="兴义">x兴义</option>
<option value="邢台">x邢台</option>
<option value="秀山">x秀山</option>
<option value="徐家汇">x徐家汇</option>
<option value="徐州">x徐州</option>
<option value="许昌">x许昌</option>
<option value="宣城">x宣城</option>
<option value="乐山">y乐山</option>
<option value="雅安">y雅安</option>
<option value="烟台">y烟台</option>
<option value="延安">y延安</option>
<option value="延吉">y延吉</option>
<option value="延庆">y延庆</option>
<option value="盐城">y盐城</option>
<option value="扬州">y扬州</option>
<option value="阳江">y阳江</option>
<option value="阳泉">y阳泉</option>
<option value="伊春">y伊春</option>
<option value="伊宁">y伊宁</option>
<option value="宜宾">y宜宾</option>
<option value="宜昌">y宜昌</option>
<option value="宜春">y宜春</option>
<option value="益阳">y益阳</option>
<option value="银川">y银川</option>
<option value="鹰潭">y鹰潭</option>
<option value="营口">y营口</option>
<option value="永川">y永川</option>
<option value="永州">y永州</option>
<option value="酉阳">y酉阳</option>
<option value="渝北">y渝北</option>
<option value="榆林">y榆林</option>
<option value="玉林">y玉林</option>
<option value="玉树">y玉树</option>
<option value="玉溪">y玉溪</option>
<option value="岳阳">y岳阳</option>
<option value="云浮">y云浮</option>
<option value="云阳">y云阳</option>
<option value="运城">y运城</option>
<option value="长春">z长春</option>
<option value="长沙">z长沙</option>
<option value="朝阳">z朝阳</option>
<option value="枣庄">z枣庄</option>
<option value="斋堂">z斋堂</option>
<option value="湛江">z湛江</option>
<option value="张家界">z张家界</option>
<option value="张家口">z张家口</option>
<option value="张掖">z张掖</option>
<option value="漳州">z漳州</option>
<option value="昭通">z昭通</option>
<option value="肇庆">z肇庆</option>
<option value="镇江">z镇江</option>
<option value="郑州">z郑州</option>
<option value="中山">z中山</option>
<option value="中卫">z中卫</option>
<option value="忠县">z忠县</option>
<option value="舟山">z舟山</option>
<option value="周口">z周口</option>
<option value="株洲">z株洲</option>
<option value="珠海">z珠海</option>
<option value="驻马店">z驻马店</option>
<option value="资阳">z资阳</option>
<option value="淄博">z淄博</option>
<option value="自贡">z自贡</option>
<option value="遵义">z遵义</option>
</select>
</div>
</div>